
@{
    ViewBag.Title = "Wallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Rc = ViewBag.balance;
    var address = ViewBag.address;
    var transactions = ViewBag.transactions;

}


<section style="width: 100%; margin-top: -18px; padding-top: 180px; padding-bottom: 70px; background: linear-gradient(230deg, red, #ff00cb); min-height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div style="background-color: #fff;width: 49rem;height: 35rem;box-shadow: 0px 0px 20px 1px;border-radius: 25px;display: flex;flex-direction: column;align-items: center;">
        <div style="text-align: center;margin-top: 23px;">
            <h2>Cüzdan Detayları</h2>
        </div>
        <div class="d-flex align-items-start h-50" style="border-color: var(--indigo);width: 85%;">
            <div>
                <img src="../../image/default.png" style="width: 135px;">
                <p class="text-center">Username</p>
            </div>
            <div style="margin-left: 40px;overflow-x: auto;">
                <h5></h5>
                @using (Html.BeginForm("Wallet", "User", FormMethod.Post))
                {
                    <div class="form-group" style="width: 20rem;">
                        <label for="reward"><strong>Adres</strong><br></label>
                        <input class="form-control" type="text" name="address" id="address" value="@address">
                    </div>
                    <div class="form-group text-center">
                        <button id="sendBtn" class="btn ConfirmBtn" href="#" type="submit" style="width: 16rem !important; padding: 12px;">Adresin bilgilerine bak</button>
                    </div>
                }
                <div class="d-flex justify-content-around">
                    <div>
                        <h5>Recycle Coin</h5>
                        <p style="overflow-x: auto;">@Rc</p>
                    </div>
                    <div>
                        <h5>Carbon</h5>
                        <p style="overflow-x: auto;">2323</p>
                    </div>
                </div>
            </div><a class="float-right btn ConfirmBtn" id="sendRC" href="/Transaction/CreateTransaction" style="width: 7rem !important;margin-left: 17px !important;margin-bottom: 17px !important;margin-top: 90px!important;padding: 12px!important;">Rc gönder</a>
        </div>
        <div class="d-flex flex-column align-items-center h-75 w-100" style="overflow-y: auto;">
            <div class="table-responsive" data-aos="zoom-in" data-aos-delay="350">
                <table class="table table-striped table-dark" id="TransactionTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Gönderen Adres</th>
                            <th>Alıcı Adres</th>
                            <th>Tutar</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 14px;">
                    @for (int i = 0; i < transactions.Count; i++)
                    {
	                    
		                    var fromAddress = transactions[i]["fromAddress"] == null ? "System" : transactions[i]["fromAddress"];

	                    <tr style="background-color: #F42951;">
		                    <td>@i"</td>
		                    <td style="word-break: break-all">@fromAddress</td>
		                    <td style="word-break:break-all ">@transactions[i]["toAddress"]</td>
		                    <td>@transactions[i]["amount"]</td>
	                    </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>